@import "breakpoints";

* {
  font-family: "Lato";
}

html {
  width: "100%";
  height: "100%";
}

body {
  background-color: #f0f3f9;
  &::-webkit-scrollbar,
  & *::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    background-color: #ccc;
  }

  &::-webkit-scrollbar-thumb,
  & *::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 8px;
    background-color: #999;
  }
}

.boxShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.rootStyle {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.cardsContainer {
  min-height: 200px;
  /*  background-color: lightblue; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-evenly;
  gap: 50px;
  row-gap: 70px;
  margin-bottom: 100px;
}

@media (max-width: $desktop) {
  .rootStyle {
    padding: 0 40px;
  }
  .cardsContainer {
    gap: 40px;
    row-gap: 70px;
  }
}

@media (max-width: $tablet) {
  .rootStyle {
    padding: 0 30px;
  }
  .cardsContainer {
    gap: 30px;
    row-gap: 70px;
  }
}

@media (max-width: $mobile) {
  .rootStyle {
    padding: 0 15px;
  }
  .cardsContainer {
    gap: 10px;
    row-gap: 60px;
  }
}
