@import "breakpoints";

.cardContainer {
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  max-width: 220px;
  height: 180px;
  position: relative;
  display: flex;
}

.cardContainer:hover {
  cursor: pointer;
}

.imgContainer {
  position: absolute;
  top: -75px;
  height: 100px;
  & img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}

.infoContainer {
  z-index: 2;
  position: relative;
  width: 100%;
  margin-top: auto;
  padding: 0 10px 20px 10px;
  /*  background-color: lightcoral; */
}

.numPok {
  color: #888;
  text-align: center;
}

.namePok {
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}

.chipsContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 7px;
}

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: capitalize;
}

@media (max-width: $mobile) {
  .cardContainer {
    max-width: 180px;
    height: 150px;
  }
}
