@import "breakpoints";

.detailContainer {
  width: 100%;
  min-width: 300px;
  max-width: 350px;
  height: 540px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.imgsContainer {
  width: 100%;
  position: absolute;
  top: -140px;
  height: 230px;
  & img {
    height: 100%;
    display: block;
    margin: 0 auto;
  }
}

.mySwiper {
  height: 120%;
  /*  overflow: visible !important; */
}

.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;
  width: 10px !important;
  transform: scale(0.5) !important;
  top: 200px !important;
}

.detailBox {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
}

.detailInfo {
  /*  background-color: lightblue; */
  margin-top: auto;
  width: 100%;
  padding: 0 20px 50px 20px;
  & p:nth-child(1) {
    color: #999;
    font-weight: 800;
    text-align: center;
  }
  & p:nth-child(2) {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 35px;
    text-align: center;
  }
}

.chipDetail {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 13px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
}

.statContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.statIndicator {
  width: 60px;
  border-radius: 23px;
  background-color: #f0f3f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;

  & span:first-of-type {
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    width: 53px;
    height: 53px;
    display: inline-grid;
    place-content: center;
    border-radius: 50%;
    background-color: aquamarine;
    text-transform: capitalize;
  }
  & span:last-of-type {
    font-weight: 700;
    display: inline-flex;
    margin-top: 10px;
  }
}

@media (max-width: $mobile) {
  .detailContainer {
    .imgContainer {
      position: absolute;
      top: -95px;
      height: 100px;
      & img {
        width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
