@import "breakpoints";

.cardContainer {
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  max-width: 220px;
  height: 180px;
  position: relative;
  display: flex;
}

.imgContainer {
  position: absolute;
  top: -70px;
  height: 100px;
  & img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}

.infoContainer {
  z-index: 2;
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: auto;
  padding: 0 10px 10px 10px;
 /*  background-color: lightcoral; */
}

.chipsContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
  background-color: red;
  border-radius: 20px;
  font-size: 12px;
}

@media (max-width: $mobile) {
  .cardContainer {
    max-width: 180px;
    height: 150px;
  }
}
